* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(245, 248, 255);
}
/* raleway font  */
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* inter font */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* shared styles  */
.max-width {
  max-width: 1180px;
  margin: 0 auto;
}
.display-flex{
    display: flex;
    justify-content: space-between;
}
.primary-color {
  color: rgba(78, 71, 255, 1);
}
.text-center{
  text-align: center;
}
.btn-primary {
  padding: 12px 35px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgba(78, 71, 255, 1);
}
.btn-primary:hover {
  background-color: lightcoral;
  transition: 0.5s;
}

/* navbar styles */
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}
.nav-logo {
  font-size: 34px;
}
/* header styles */
.header-container {
  background: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  text-align: center;
  font-size: 65px;
}
.header-title{
    padding: 150px 0px 35px 0px;
}
.header-btn{
    margin-bottom: 140px;
}
/* action part styles */
.action-container{
  align-items: center;
  padding: 110px 0px;
}
.action-heading{
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
}
.action-description{
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  max-width: 510px;
  padding: 20px 0px;
  line-height: 30px;
}
.action-img-area img{
  border-radius: 45px;
}

/* productive section styles */
.productive-container{
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 0px;
  border-radius: 24px;
  margin-bottom: 135px;
}
.productive-heading{
  font-size: 38px;
  color: rgba(37, 36, 50, 1);
  padding-bottom: 40px;
}
.productive-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.productive-title{
  font-size: 80px;
  color: rgba(78, 71, 255, 1);
}
.productive-description{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}
/* user part styles */
.user-heading{
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
  padding: 50px 0px 50px 0px;
}
.user-cart-item{
  padding: 24px;
  background-color: rgb(250, 252, 255);
  border-radius: 14px;
  margin-bottom: 130px;
}
.user-cart-heading{
  font-size: 25px;
  padding: 24px 0px 8px 0px;
}
.user-description{
  font-size: 16px;
  max-width: 330px;
  margin: 0 auto;
  padding-bottom: 24px;
  color: #1E1E1E;
}
.user-info-container{
  display: flex;
  gap: 30px;
}
.user-img img{
  border-radius: 50%;
}
.user-info-heading{
  color: #757575;
  font-size: 20px;
}
.user-info-description{
  color: #B3B3B3;
}

